Notebook này sẽ giới thiệu về các cấu trúc dữ liệu có sẵn trong Python, bao gồm:
- Tuple và tính không thay đổi (immutability)
- List và các thao tác với list
- Dictionary (từ điển)
- Set (tập hợp)
- Các hàm tích hợp và kỹ thuật lập trình
- Xử lý file và encoding

In [55]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [56]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [57]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [58]:
tup[0]

's'

In [59]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]
nested_tup[1]

(7, 8)

In [60]:
# Tạo tuple từ list
tup = tuple(['foo', [1, 2], True])
print("Tuple ban đầu:", tup)

# Cố gắng thay đổi giá trị trực tiếp sẽ gây lỗi
# tup[2] = False  # TypeError: 'tuple' object does not support item assignment

# Tạo tuple mới với giá trị đã thay đổi
new_tup = tup[:2] + (False,)
print("Tuple mới:", new_tup)

Tuple ban đầu: ('foo', [1, 2], True)
Tuple mới: ('foo', [1, 2], False)

In [61]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [62]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [63]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [64]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [65]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [66]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [67]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [68]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [69]:
a, b, *_ = values

In [70]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [71]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [72]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [74]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [75]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [76]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [77]:
"dwarf" in b_list

True

In [78]:
"dwarf" not in b_list

False

In [79]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [80]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [81]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [82]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [83]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [84]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [85]:
seq[:5]
seq[3:]

[6, 3, 6, 0, 1]

In [86]:
seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [87]:
seq[::2]

[7, 3, 3, 0]

In [88]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [89]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [90]:
d1[7] = "an integer"
d1
d1["b"]

[1, 2, 3, 4]

In [91]:
"b" in d1

True

In [92]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [93]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [94]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [95]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [96]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [97]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [98]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [99]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [100]:
# Hash cho chuỗi - hoạt động vì string là immutable
print("Hash của chuỗi:", hash("string"))

# Hash cho tuple chứa các phần tử immutable - hoạt động
print("Hash của tuple:", hash((1, 2, (2, 3))))

# Hash cho list sẽ gây ra lỗi vì list là mutable
try:
    hash([2, 3])
except TypeError as e:
    print("Lỗi khi hash list:", str(e))

# Để sử dụng list trong hash, cần chuyển đổi thành tuple
print("Hash của list sau khi chuyển thành tuple:", hash(tuple([2, 3])))

Hash của chuỗi: 4533681946656717868
Hash của tuple: -9209053662355515447
Lỗi khi hash list: unhashable type: 'list'
Hash của list sau khi chuyển thành tuple: 8409376899596376432

In [101]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [102]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [103]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [104]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [105]:
a.intersection(b)
a & b

{3, 4, 5}

In [106]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [107]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [108]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [109]:
{1, 2, 3} == {3, 2, 1}

True

In [110]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [111]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [112]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [113]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [114]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [115]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [116]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [117]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [118]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [119]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [120]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [121]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [122]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [124]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [125]:
def my_function(x, y):
    return x + y

In [126]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [127]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [128]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [129]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [130]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [131]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [132]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [133]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [134]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [135]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [136]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [137]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [138]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [139]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [140]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [141]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [142]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [143]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [144]:
dict_iterator = iter(some_dict)
dict_iterator

In [145]:
list(dict_iterator)

['a', 'b', 'c']

In [146]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [147]:
gen = squares()
gen

In [148]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [149]:
gen = (x ** 2 for x in range(100))
gen

In [150]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [151]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [154]:
# Thử chuyển đổi chuỗi thành số thực
try:
    print("Chuyển '1.2345' thành số:", float("1.2345"))
    print("Chuyển 'something' thành số:", float("something"))
except ValueError as e:
    print("Lỗi:", e)

# Kết quả mong đợi:
# Chuyển '1.2345' thành số: 1.2345
# Lỗi: could not convert string to float: 'something'

Chuyển '1.2345' thành số: 1.2345
Lỗi: could not convert string to float: 'something'

In [ ]:
def attempt_float(x):
    """
    Cố gắng chuyển đổi giá trị x thành số thực.
    Nếu không thể chuyển đổi, trả về giá trị gốc.
    """
    try:
        return float(x)
    except ValueError as e:
        print(f"Lỗi ValueError: {e}")
        return x
    except TypeError as e:
        print(f"Lỗi TypeError: {e}")
        return x

In [ ]:
# Thử các trường hợp khác nhau
print("Thử với chuỗi số hợp lệ:", attempt_float("1.2345"))
print("Thử với chuỗi không phải số:", attempt_float("something"))
print("Thử với tuple:", attempt_float((1, 2)))

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
import os

path = "examples/segismundo.txt"

# Thêm xử lý lỗi khi file không tồn tại
try:
    with open(path, encoding="utf-8") as f:
        print("Đang đọc file:", path)
        # Đọc nội dung file
        lines = [x.rstrip() for x in f]
        print("Số dòng trong file:", len(lines))
except FileNotFoundError:
    print(f"Lỗi: File '{path}' không tồn tại")
    print("Vui lòng kiểm tra lại đường dẫn file")

In [ ]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

In [ ]:
f.close()

In [ ]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

In [ ]:
f1.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f1.seek(3)
f1.read(1)
f1.tell()

In [ ]:
f1.close()
f2.close()

In [ ]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [ ]:
import os
os.remove("tmp.txt")

In [ ]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

In [ ]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

In [ ]:
data.decode("utf-8")
data[:4].decode("utf-8")

In [ ]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()